# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.DS_Store
figure
.Rproj.user
Heun-Semieniuk-rebound.nlo
HSbib.log
HSB-concordance.tex
HSB.aux
HSB.bbl
HSB.blg
HSB.log
HSB.out
HSB.pdf
HSB.spl
HSB.synctex.gz
HSB.tex
HSB2022-concordance.tex
HSB2022.bbl
HSB2022.log
HSB2022.pdf
HSB2022.synctex.gz
HSB2022.tex
ExecSumm.log
ExecSumm.pdf
ExecSumm.synctex.gz
HSB_results-concordance.tex
HSB_results.bbl
HSB_results.log
HSB_results.pdf
HSB_results.synctex.gz
HSB_results.tex
HSB_framework-concordance.tex
HSB_framework.bbl
HSB_framework.log
HSB_framework.pdf
HSB_framework.synctex.gz
HSB_framework.tex
HSB_results.aux
HSB_results.out
HSB_framework.aux
HSB_framework.out
HSB_framework.blg
HSB_results.blg
ExecSumm_framework.aux
ExecSumm_framework.log
ExecSumm_framework.pdf
ExecSumm_framework.synctex.gz
ExecSumm_results.aux
ExecSumm_results.log
ExecSumm_results.pdf
ExecSumm_results.synctex.gz
HSB_framework_*.pdf
HSB_results_*.pdf
diff.aux
diff.log
diff.out
diff.pdf
diff.tex
diff_framework.aux
diff_framework.log
diff_framework.out
diff_framework.pdf
diff_framework.tex
diff_results.aux
diff_results.bbl
diff_results.blg
diff_results.log
diff_results.out
diff_results.pdf
diff_results.tex
