.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
HSB2022.aux
HSB2022.bbl
HSB2022.log
HSB2022.out
HSB2022.pdf
HSB2022.synctex.gz
HSB2022-concordance.tex
HSB2022.tex
HSB2022.blg
HSB2022a-concordance.tex
HSB2022a.bbl
HSB2022a.log
HSB2022a.pdf
HSB2022a.synctex.gz
HSB2022a.tex
HSB2022a.toc
